.search__bar {
    width: 100%;
    max-width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: none;
    
}

.main__title {
    animation: glow-blue 1s ease-in-out infinite alternate;
}

@keyframes glow-blue {
    from {
        text-shadow: 0 0 10px #5d84ee;
    }
    to {
        text-shadow: 0 0 20px #5d84ee,
                    0 0 5px #5d84ee 
    }
}

.search__bar .search__wrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search__input-wrapper {
    width: 100%;
    max-width: 500px;
    position: relative;
}

.search__bar .search__box {
    width: 100%;
    max-width: 500px;
    height: 60px;
    border-radius: 18px;
    font-size: 20px;
    text-indent: 20px;
    position: relative;
}

.search__bar .search__box:hover {
    outline: 2px solid rgb(242, 248, 153);
}

.search__logo {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10001;
}

.fa-solid {
    font-size: 24px;
}

.fa-solid:hover {
    color: rgb(233, 245, 72);
    transform: scale(1.1);
}