.search__bar {
    width: 100%;
    max-width: 500px;
    height: 60vh;
    display: flex;
    align-items: center;
    background-color:none
    
}

.search__bar h1 {
    animation: animate 1s ease-in-out infinite alternate;
}

@keyframes animate {
    from {
        text-shadow: 0 0 10px #ecee5d;
    }
    to {
        text-shadow: 0 0 20px #ecee5d,
                    0 0 5px #ecee5d
    }
}

.search__wrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 23rem; */
}

.search__box {
    width: 100%;
    max-width: 500px;
    height: 60px;
    border-radius: 18px;
    font-size: 20px;
    text-indent: 20px;
}

.search__box:hover {
    outline: 2px solid rgb(242, 248, 153);
}

.search__logo {
    position: absolute;
    cursor: pointer;
    z-index: 10001;
    padding-right: 20px;
}

.fa-solid {
    color: black;
    font-size: 24px;
}

.fa-solid:hover {
    color: rgb(233, 245, 72);
    transform: scale(1.1);
}